# Node build artifacts
/dist/
/tmp/
/out-tsc/

# Dependency directories
/node_modules/

# Environment variables
.env

# Compiled TypeScript
*.js
*.js.map
*.d.ts

# Compiled CSS
*.css

# Dependency lock files
package-lock.json
yarn.lock

# Angular CLI configuration files
.angular.json
*.karma.js
*.protractor.js
tsconfig.json