<h2 class="font-bold text-xl">my day</h2>
    <div class="text-blue-500">
        
    </div>
<div class="flex flex-col p-4 w-full h-[calc(90vh_-_4rem)] "> 
      <div class="flex flex-col mt-6">
      <h2 class="font-bold text-xl">tasks</h2>
      <p class="bg-blue-200 w-full h-15 px-4 py-2 rounded shadow flex item-center mt-2 mb-2">task</p>
      </div>
    <div class="mt-auto w-full">
    <input type="text" class=" fontAwesome  w-full px-4 py-2 rounded shadow" placeholder="+ type a task">
    </div>
</div> 
